
.chart {
    clear: both;
    padding: 0;
    width: 1320px;
    margin: 0 auto;
}
@media (min-width: 700px) {
    .chart {
        /*background: url("http://cl.ly/QSpc/bg-chart.png") right top repeat-x;*/
        height: 525px;
        margin: 0 auto emCalc(-32px);
    }
}
.chart li {
    display: block;
    height: 125px;
    padding: emCalc(25px) 0;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}
@media (min-width: 700px) {
    .chart li {
        display: inline-block;
        min-height: 30%;
        height: 425px;
        margin: 0 5 0 0;
        width: 102px;
    }
}
.chart .axis {
    display: none;
    top: emCalc(-45px);
    width: 2px;
}
@media (min-width: 700px) {
    .chart .axis {
        display: inline-block;
    }
}
.chart .label {
    background: #cccccc;
    margin: -9px 0 71px 0;
}
.chart .percent {
    letter-spacing: -3px;
    margin-top: 26px;
    opacity: .4;
    width: 100%;
    font-size: 30px;
    font-size: 1.875rem;
}
@media (min-width: 700px) {
    .chart .percent {
        position: absolute;
        font-size: 62px;
        font-size: 1.8rem;
    }
}
.chart .percent span {
    font-size: 30px;
    font-size: 1.875rem;
}
.chart .skill {
    font-weight: 800;
    opacity: .5;
    overflow: hidden;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-size: 0.875rem;
}
@media (min-width: 700px) {
    .chart .skill {
        bottom: 20px;
        position: absolute;
        font-size: 16px;
        font-size: 0.92rem;
    }
}
.chart .color0 {
    background: #4ecdc4;
    border: 1px solid #4ecdc4;
    background-image: -moz-linear-gradient(#76d8d1, #4ecdc4 70%);
    background-image: -webkit-linear-gradient(#76d8d1, #4ecdc4 70%);
    background-image: linear-gradient(#76d8d1, #4ecdc4 70%);
}
.chart .color1 {
    background: #ff6b6b;
    border: 1px solid #ff6b6b;
    background-image: -moz-linear-gradient(#ff9e9e, #ff6b6b 70%);
    background-image: -webkit-linear-gradient(#ff9e9e, #ff6b6b 70%);
    background-image: linear-gradient(#ff9e9e, #ff6b6b 70%);
}
.chart .color2 {
    background: #97f464;
    border: 1px solid #97f464;
    background-image: -moz-linear-gradient(#b7f794, #97f464 70%);
    background-image: -webkit-linear-gradient(#b7f794, #97f464 70%);
    background-image: linear-gradient(#b7f794, #97f464 70%);
}
.chart .color3 {
    background: #ffcd92;
    border: 1px solid #ffcd92;
    background-image: -moz-linear-gradient(#ffe4c5, #ffcd92 70%);
    background-image: -webkit-linear-gradient(#ffe4c5, #ffcd92 70%);
    background-image: linear-gradient(#ffe4c5, #ffcd92 70%);
}
.chart .color4 {
    background: #ab64f4;
    border: 1px solid #ab64f4;
    background-image: -moz-linear-gradient(#c594f7, #ab64f4 70%);
    background-image: -webkit-linear-gradient(#c594f7, #ab64f4 70%);
    background-image: linear-gradient(#c594f7, #ab64f4 70%);
}

.table-description {
    color: #ab64f4;
    width: 300px;
    margin: 0 auto;
}


.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}

.different-stats-selector {
    width: 300px;
    margin: -222px auto;
}
