/*
Drop cap treatment is set without any vertical correction -
Works OK in FF3, but cross-browser consistency will require further adjustment
Paragraphs set with no boundary, justified
*/

p {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    text-align: left;
}
p + p {
    text-indent: 2.5em;
}
p:first-letter {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    float: left;
    margin: 0 0.107em 0 0;
}
p:first-line {
    font-weight: 800;
}
p + p:first-letter {
    font-size: 1em;
    line-height: 1.25em;
    float: none;
    margin: 0;
}
p + p:first-line {
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 24px;
    background: url("../../resources/images/text_bg.jpg");
}